html {
    width: 100%;
    top: 0;
    left: 0;
    background: url("../images/hogwarts-3476786_1920x2100.svg");
    background-color: #28285A;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

header {
    font-family: 'Playfair Display', serif;
    color: lightyellow;
    text-align: center;
    padding: 20px 0px;
}

p {
    font-size: 18px;
    padding-top: 15px;
    color: lightyellow;
}

label {
    color: white;
    font-weight: 600;
    padding: 0px 10px 50px 0px;
}

input[type=radio] {
    border: 0px;
    width: 1.5em;
    height: 1.5em;
}

.quizContainer {
    padding: 0px 25px;
    line-height: 1.1em;
    text-align: left;
    background-color: #28285A;
    opacity: 0.8;
    color: white;
    margin: 25px 25px;
}

.questionDiv {
    padding-top: 15px;

}

.button {
    background-color: lightyellow;
    color: #28285A;
    padding: 10px 12px;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.button-div {
    text-align: center;
}

#timer {
    padding: 25px 0px 0px;
    font-weight: 600;
    font-size: 28px;
    color: lightyellow;
    text-align: center;
}

.resultsContainer {
    padding: 50px 50px;
    line-height: 1.1em;
    text-align: left;
    font-weight: 600;
    background-color: #28285A;
    opacity: 0.8;
    color: white;
    margin: 100px 100px;