body {
    width: 100%;
    background: url("../images/hogwarts-3476786_1920x2100.svg");
    background-color: #28285A;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}

header {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: lightyellow;
    text-align: center;
}

p {
    font-size: 18px;
    padding-top: 15px;
    color: lightyellow;
}

label {
    color: white;
    padding: 0px 0px 50px;
}

.button {
    background-color: lightyellow;
    color: #28285A;
    padding: 10px 12px;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-left: 50px;
}

#timer {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    margin-left: 50px;
    color: lightyellow;
    font-size: 32px;
    text-align: left;
    top: 80px;
}

.quizContainer {
    padding: 0px 10px;
    line-height: 1.1em;
    margin: 25px 50px;
    text-align: left;
    font-family: 'Muli', sans-serif;
    background-color: #28285A;
    opacity: 0.8;
    color: white;
    display: block;
}

.questionDiv {
    padding-top: 15px;

}

#submit {
    margin: 40px 0px;
}

#form, #results {
    margin: auto;
    margin: 0px 20px 40px;
    text-align: left;
    top: 50px;
}