body {
    line-height:1.2em;
    background-color: black;
    color: beige;
}

section { 
    display:block;
}

h1 {
  font-size: 30px;
  font-family: 'Chonburi', cursive;
}

label {
  display: inline;
}  

h3 {
  text-align: center;
}

#result {
  font-family: 'Press Start 2P', cursive !important;
  font-weight: bold;
  font-size: 1.5em;
  color: #036;
}

input[name="option"] {
  float:left;
  
}

#form div{
  margin:auto;
  max-width: 205px;
}

#container {
  text-align: center;
}

input, select {
    vertical-align:middle;
    padding-top: 5px;
}

.button {
    display: inline-block;
    padding: 1em;
    background-color: #79BD9A;
    text-decoration: none !important; 
    color: white !important;
} 

body{
  text-align: center;
}